*{
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}

.hero{
    display: flex;
    flex-direction: column;
}

.top-bar{
    background-color: #1f2937;
    padding: 24px 125px;
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 16px;
    font-size: 18px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

.container{
    background-color: #1f2937;
    padding: 48px 125px 72px 125px;
    display: flex;
    justify-content: space-between;

}

.content{
    display: flex;
    flex-direction: column;
}

.main-text{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
    width: 450px;
    margin-bottom: 18px;

}

.sec-text{
    color:#e5e7eb;
    font-size: 18px;
    width: 450px;
    margin-bottom: 18px;
}

button{
    width: 125px;
    height: auto;
    color: white;
    background-color: #3882F6;
    border: 0px;
    padding: 12px;
    font-size: 18px;
    font-weight: 800;
    border-radius: 8px;
}

img{
    height: 255px;
    width: 500px;
    border-radius: 8px;
}

.testimonials{
    display: flex;
    flex-direction: column;
    padding: 48px 125px;
}

.testimonial-text{
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}

.client-images{
    display: flex;
    justify-content: space-evenly;
}

.card-img{
    max-width: 200px;
    max-height: 200px;
    border: 3px solid #3882F6;
    margin-bottom: 8px;
}

.card{
    display: flex;
    flex-direction: column;
}

.caption{
    font-size: 18px;
    width: 200px;
    text-align: center;
    color: #1f2937;
}

.quote-section{
    background-color: #e5e7eb;
    padding: 100px 125px;
}

.quote{
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
}

.sign-up{
    padding: 72px 125px;
}

.blue-box{
    display: flex;
    background-color: #3882F6;
    width: 100%;
    height: 150px;
    border-radius: 8px;
    justify-content: space-around;
    align-items: center;
}

.sign-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.call-to-action{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.call-text{
    font-size: 18px;
    color: #f9faf8;
    margin-top: 8px;
    font-weight: lighter;
}

.sign-button{
    border: 2px solid #F9FAF8;
    width: 150px;
    height: 50px;
    text-align: center;
}

.footer{
    padding: 24px 125px;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    text-align: center;
}

